<footer class="footer">
  <p>This code guide is mantained by the <a href="http://fandangorewards.com/" target="_blank">Fandango Reward Programs</a> web dev team</p>
  <br />

  <p>Originally cloned from <a href="https://github.com/mdo/code-guide" target="_blank">https://github.com/mdo/code-guide</p>
  <p>Javascript content adapted from jQuery's <a href="https://contribute.jquery.org/style-guide/js/" target="blank">Contribution Guidelines</p>
  <p>PHP content adapted from the PHP Framework Interop Group's <a href="http://www.php-fig.org/psr/" target="_blank">PSR standards</a></p>
</footer>
